@import "./css/bgColors";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("./img/background_img.avif");
  background-size: cover;
  background-position: center;
}

// header style..............

.header_bg_main {
  padding: 0 1rem;
  position: relative;

  .header_center {
    min-height: 60px;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .container_left {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 3.4px 0;

      .nav_logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        font-weight: 600;
        height: 38px;
        border: none;
        border-radius: 43%;
        text-align: center;
        background: $icon_bg;
        color: $color1;
      }

      > .logo_heading {
        padding-left: 5px;
        color: $icon_bg;
        font-weight: 700;
        text-decoration: none;
      }
    }

    .container_center {
      display: flex;
      gap: 2rem;
      padding: 13.3px 0;
      justify-content: center;

      li {
        list-style-type: none;

        a {
          text-decoration: none;

          &:hover {
            color: orange;
          }
        }
      }
    }

    button {
      padding: 7px 20px;
      background-color: $btn_bg;
      border: none;
      border-radius: 45px;
      cursor: pointer;
      transition: scale 0.2 ease;

      &:hover {
        background: $btn_bg_hover;
        scale: 1.01;
      }

      a {
        color: $color1;
        text-decoration: none;
      }
    }

    .container_right {
      display: none;
      cursor: pointer;
    }

    // responsive designe......
    @media (max-width: 992px) {
      .container_center,
      button {
        display: none;
      }

      .container_right {
        display: block;
      }
    }
  }

  .dropdown_menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 64px;
    width: 250px;
    height: 220px;
    background: rgba(225, 225, 225, 0.5);
    list-style: none;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.32, 1.275);

    li {
      padding: 0.7rem;
      display: flex;
      justify-content: center;
      text-align: center;

      a {
        text-decoration: none;
      }

      button {
        width: 100%;
        padding: 7px 20px;
        background-color: $btn_bg;
        border: none;
        border-radius: 45px;
        cursor: pointer;
        transition: scale 0.2 ease;

        &:hover {
          background: $btn_bg_hover;
          scale: 1.01;
        }

        a {
          color: $color1;
          text-decoration: none;
        }
      }
    }
  }

  @media (max-width: 992px) {
    .dropdown_menu {
      display: block;
      justify-content: right;
      text-align: right;

      button {
        position: relative;
      }
    }
  }
}

// home style............................
.home_container_main {
  width: 80%;
  margin: auto;

  .container_center {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title_container {
      width: 400px;
      min-height: 80px;
      text-align: center;
      // background: $cart_bg2;
      margin: 5px;

      h1 {
        font-size: 55px;
        font-weight: bolder;
      }
    }
  }

  .course_list_one {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(182, 181, 181);
    background: $cart_bg1;

    .listing_detail {
      width: 280px;
      margin: 10px 0;
      padding-left: 15px;

      li {
        display: flex;
        justify-content: left;
        align-items: center;
        margin: 10px;
        color: rgb(99, 98, 98);
        list-style-type: none;
      }

      a {
        width: 100px;
        color: $color1;
        text-align: center;
        text-decoration: none;
        padding: 14px 30px;
        background-color: $btn_bg;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: scale 0.2 ease;

        &:hover {
          background: $btn_bg_hover;
          scale: 1.01;
        }
      }
    }

    .pricing_first {
      width: 250px;
      height: 250px;
      border: 1px solide black;
      margin: 20px;
      background: $cart_bg2;
      text-align: center;
      border-radius: 5px;

      h2 {
        color: $btn_bg;
        padding-top: 25px;
        font-size: 45px;
      }

      p {
        text-align: center;
        padding-top: -15px;
        margin-top: -25px;
      }
    }
  }

  .course_list_two {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgb(182, 181, 181);
    background: $cart_bg1;

    .subscription_detail {
      width: 260px;
      margin: 15px 0;
      color: rgb(52, 52, 52);
      padding: 30px 20px;
    }

    .subscription_price {
      width: 250px;
      margin: 20px;
      background: $cart_bg2;
      text-align: center;
      border-radius: 5px;

      h2 {
        color: $btn_bg;
        font-size: 45px;
      }

      p {
        text-align: center;
        padding-top: -15px;
        margin-top: -25px;
      }
    }
  }

  .invoice_application {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: rgb(52, 52, 52);
  }

  .quick_response_box {
    width: 100%;
    min-height: 60px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;

    .center_border {
      border-left: 2px dotted gray;
      height: 30px;
    }

    .integration_box {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: rgb(59, 59, 59);
      display: flex;
      gap: 8px;

      .integration_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: white;
        background: $icon_bg;
        border-radius: 50%;
      }
    }
  }
}

// Service Pages Styles..................................

.included_service_box {
  background: $cart_bg2;
  padding: 30px 0;
  margin: 50px 0;
  .service-heading {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .service-detaling {
    margin: 10px 0;
    text-align: center;
  }
  .service_inner_box {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    .tally_service {
      width: 180px;
      min-height: 150px;
      margin: 15px 0;
      padding: 2px;
      // border: 2px solid black;
      i {
        color: $icon_bg;
        font-size: 28px;
      }
      h4 {
        margin-top: 3px;
        span {
          color: blue;
          font-size: 25px;
          padding-right: 5px;
        }
      }
      p {
        color: rgb(100, 99, 99);
      }
    }
  }

  @media (max-width: 992px) {
    .service_inner_box {
      grid-template-columns: auto auto auto;
      .tally_service {
        width: 190px;
      }
    }
  }
  @media (max-width: 768px) {
    .service_inner_box {
      grid-template-columns: auto auto;
      .tally_service {
        width: 200px;
      }
    }
  }
  @media (max-width: 576px) {
    .service_inner_box {
      grid-template-columns: auto;
      .tally_service {
        width: 210px;
      }
    }
  }
}

// footer style..............

.footer_box_main {
  width: 100%;
  height: 20rem;
  background-size: 300px 500px 800px 500px;
  background: $footer_bg;
  color: rgb(175, 173, 173);
}
